.list {
  padding-left: 0px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
  list-style: none;
}

button {
  padding: 10px;
  border-radius: 25px;
  border-color: inherit;
  background-color: #cac4c4;
  color: #fff;
  text-transform: uppercase;
}

button:hover {
  background-color: #777777;
  color: #fff;
}
